.header-vial{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/img/background\ \(4\).jpg);
    background-position: center;
    height: 65vh;
    background-size: cover;

}